<nav id="aside-nav">
    <ul>
        @if (User.IsInRole("Admins"))
        {
            <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Редактировать продукцию</a></li>
            <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Редактировать категории</a></li>
            <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Управление пользователями</a></li>

        }
        @if (User.IsInRole("Bloggers"))
        {
            <li><a asp-area="" asp-controller="Blog" asp-action="New">Новая статья</a></li>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <li><a asp-area="" asp-controller="Account" asp-action="Index">Мой профиль</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
        }
        else 
        {

            <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Registration">Регистрация</a></li>
        }        
    </ul>
</nav>