@model ChangePasswordViewModel

@{
    ViewBag.Title = "Изменить пароль";
}

@if (ViewBag.Message != null)
{
    <div>@ViewBag.Message</div>
}
<div asp-validation-summary="ModelOnly"></div>
<form class="form" asp-action="ChangePassword" method="post">
    <div class="form-grid">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword">
        <span asp-validation-for="CurrentPassword"></span>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <input class="button" type="submit">
</form>