.button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: black;
    cursor: pointer;
}