form.form {
    .form-grid {
        margin: 10px 0;
        display: grid;
        grid-template-columns: min-content min-content auto;
        grid-row-gap: 10px;

        label {
            grid-column: 1;
            font-weight: bold;
        }
    
        .validation-message , label {
            margin-right: 10px;
        }
    
        input, select {
            grid-column: 2;
        }
    
        textarea {
            grid-column: 1 / span 3;
            height: 200px;
            resize: none;
        }

        .validation-message {
            grid-column: 3;
            margin: 0 10px;
        }
    }
}