table.summary-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    text-align: right;

    th {
        background-color: black;
        color: white;
        padding: 12px;
        
    }

    td {
        padding: 10px;
    }

    &, td, th {
        border: 1px solid #444;
    }

    a {
        color: #1e34fc;
        padding: 0 4px;

        &:hover {
            text-decoration: underline;
        }
    }
}