@model IEnumerable<Category>

@{
    ViewBag.Title = "Категории";
}

<a class="button" asp-action="Add">Добавить</a>
<table class="summary-table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <form class="actions" asp-action="Delete" asp-route-id="@category.Id" method="post"><a asp-action="Edit" asp-route-id="@category.Id">Редактировать</a>|<button type="submit">Удалить</button></form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (!Model.Any())
{
    <div>
        Нет категорий
    </div>
}