article {
    padding: 10px 0;
    border-bottom: 1px solid #444;

    h2 {
        margin: 10px 0;
    }

    time {
        display: block;
        font-style: italic;
        margin: 10px 0;
    }
}