html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: left;
}

main {
  padding: 0 24px;
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.input-validation-error {
  border-color: red;
}

.field-validation-error {
  color: red;
}

table.summary-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  text-align: right;
}
table.summary-table th {
  background-color: black;
  color: white;
  padding: 12px;
}
table.summary-table td {
  padding: 10px;
}
table.summary-table, table.summary-table td, table.summary-table th {
  border: 1px solid #444;
}
table.summary-table a {
  color: #1e34fc;
  padding: 0 4px;
}
table.summary-table a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
}

form.actions a {
  text-decoration: none;
}
form.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
form.actions a, form.actions button {
  color: #1e34fc;
  padding: 0 4px;
}
form.actions a:hover, form.actions button:hover {
  text-decoration: underline;
}

form.form .form-grid {
  margin: 10px 0;
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-row-gap: 10px;
}
form.form .form-grid label {
  grid-column: 1;
  font-weight: bold;
}
form.form .form-grid .validation-message, form.form .form-grid label {
  margin-right: 10px;
}
form.form .form-grid input, form.form .form-grid select {
  grid-column: 2;
}
form.form .form-grid textarea {
  grid-column: 1/span 3;
  height: 200px;
  resize: none;
}
form.form .form-grid .validation-message {
  grid-column: 3;
  margin: 0 10px;
}

#main-grid {
  display: grid;
  grid-template-columns: 300px auto;
}

#aside-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#aside-nav ul a {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 1px;
  padding-left: 32px;
  background-color: black;
  color: #fff;
  text-decoration: none;
}
#aside-nav ul a:hover {
  background-color: #444;
}

#main-nav {
  background-color: black;
}
#main-nav nav {
  padding: 0;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
#main-nav ul li a {
  display: block;
  padding: 25px 20px;
  color: #fff;
  text-decoration: none;
}
#main-nav ul li a:hover {
  background-color: #222;
}

article {
  padding: 10px 0;
  border-bottom: 1px solid #444;
}
article h2 {
  margin: 10px 0;
}
article time {
  display: block;
  font-style: italic;
  margin: 10px 0;
}

.comments {
  margin: 4px 8px;
}
.comments .comments-header {
  font-size: 1.2rem;
}
.comments .comments-header, .comments .comment-header {
  font-weight: bold;
}
.comments .comment {
  margin: 8px;
}
.comments .comment p {
  margin: 4px 0;
}
.comments time {
  font-style: italic;
}

.pagination {
  margin: 16px 0;
  display: flex;
  justify-content: center;
}
.pagination .pg-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: black;
  text-decoration: none;
}
.pagination .pg-link:hover, .pagination .pg-active {
  background: #444;
}

/*# sourceMappingURL=main.css.map */
